/* =========================================
   1. KHAI BÁO TAILWIND CSS
========================================= */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
//@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

/* =========================================
   2. THIẾT LẬP CƠ BẢN (APP RESET)
========================================= */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  //font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Roboto', sans-serif;
  
  /* Thiết lập nền và màu chữ mặc định cho toàn app (giống theme POS của bạn) */
  background-color: #F8FAFC; /* Nền xám nhạt (slate-50) */
  color: #1e293b;            /* Chữ xám đậm (slate-800) */
  
  /* Giao diện thanh cuộn mặc định của trình duyệt */
  color-scheme: light;
}

/* Tùy chỉnh thanh cuộn cho toàn ứng dụng mượt mà hơn (Tùy chọn) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

/* =========================================
   3. TIỆN ÍCH CHUNG (GLOBAL UTILITIES)
========================================= */
/* Xóa mũi tên tăng giảm mặc định của input type="number" */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* =========================================
   4. CẤU HÌNH IN HÓA ĐƠN K80
========================================= */
@media print {
  html, body, app-root {
    height: auto !important;
    overflow: visible !important;
    background-color: white !important;
  }
  
  @page {
    margin: 0;
    size: 80mm auto; 
  }
}