<form [formGroup]="customerForm" class="flex flex-col gap-3">
    <app-input label="Mã Khách hàng" formControlName="id"></app-input>

    <app-input label="Tên Khách hàng" formControlName="fullName"></app-input>

    <app-input label="Số điện thoại" formControlName="phoneNumber"></app-input>

    <app-input label="Điểm tích lũy" formControlName="loyaltyPoints"></app-input>

    <div class="flex flex-row justify-end gap-3">
        <app-button variant="primary" (click)="onSave()">{{loading() ? 'Saving...' : (isEditMode() ? 'Update' : 'Create')}}</app-button>
        <app-button variant="outline" (click)="onCancel()">Cancel</app-button>
    </div>
</form>