.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

:host {
  display: block;
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* THÊM ĐOẠN NÀY ĐỂ MỞ KHÓA KHI IN */
@media print {
  :host {
    height: auto !important;
    overflow: visible !important;
  }
}