<form [formGroup]="userForm" class="flex flex-col gap-3">
    <app-input label="Mã Người dùng" formControlName="id"></app-input>

    <app-input label="Tên Đăng nhập" formControlName="userName"></app-input>

    <app-input label="Họ và Tên" formControlName="fullName"></app-input>

    <app-input label="Mật khẩu" formControlName="password" [placeholder]="isEditMode() ? 'Để trống nếu không đổi mật khẩu' : ''"></app-input>

    <app-select-search label="Vai trò" [options]="roles" formControlName="role"></app-select-search>

    <div class="flex flex-row justify-end gap-3">
        <app-button variant="primary" (click)="onSave()" [disabled]="userForm.invalid">{{loading() ? 'Saving...' : (isEditMode() ? 'Update' : 'Create')}}</app-button>
        <app-button variant="outline" (click)="onCancel()">Cancel</app-button>
    </div>
</form>